body{
    background-color: aqua;
}
.container{
    background-color:darkorange;
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px
}
.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline;
    text-align: center;
}
body{
    font-family: cursive;
}

#span3 {
    text-align: center;
    font-size: 80px; 
    color: crimson;}

